*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family: "Segoe UI", Tahoma;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:#fff;
}

/* ====== NAVBAR ====== */
nav{
    background:rgba(0,0,0,0.6);
    padding:15px 40px;
    display:flex;
    align-items:center;
}

nav a{
    color:#f1c40f;
    text-decoration:none;
    margin-right:20px;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:white;
}

/* ====== CONTAINER ====== */
.container{
    width:90%;
    margin:40px auto;
}

/* ====== CAR CARD ====== */
.car-box{
    width:23%;
    background:#111;
    float:none;
    margin:1%;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 15px 30px rgba(0,0,0,0.6);
    transition:0.4s;
}

.car-box:hover{
    transform:translateY(-10px) scale(1.02);
    box-shadow:0 25px 40px rgba(0,0,0,0.9);
}

.car-box img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.car-box h3{
    margin:10px 0;
    color:#f1c40f;
}

.car-box a{
    display:inline-block;
    margin-bottom:15px;
    padding:8px 15px;
    background:#f1c40f;
    color:#111;
    border-radius:20px;
    text-decoration:none;
    font-size:14px;
    transition:0.3s;
}

.car-box a:hover{
    background:white;
}

/* ====== FORMS ====== */
form{
    background:rgba(0,0,0,0.7);
    width:350px;
    margin:60px auto;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.7);
}

form h3{
    text-align:center;
    margin-bottom:20px;
    color:#f1c40f;
}

input, textarea{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:none;
    border-radius:8px;
    outline:none;
}

button{
    width:100%;
    padding:10px;
    background:#f1c40f;
    border:none;
    border-radius:25px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:white;
}

/* ====== CAR PAGE ====== */
.car-detail{
    background:rgba(0,0,0,0.7);
    padding:30px;
    border-radius:20px;
    max-width:700px;
    margin:auto;
    box-shadow:0 15px 30px rgba(0,0,0,0.8);
}

.car-detail img{
    width:100%;
    border-radius:15px;
    margin-bottom:20px;
}

.car-detail h2{
    color:#f1c40f;
}
/* ===== SPEC TABLE ===== */
.spec-table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
    background:#111;
    border-radius:15px;
    overflow:hidden;
}

.spec-table th{
    background:#f1c40f;
    color:#111;
    padding:12px;
    text-align:center;
    font-size:16px;
}

.spec-table td{
    padding:12px;
    border-bottom:1px solid #333;
    text-align:center;
}

.spec-table tr:hover{
    background:#1c1c1c;
}
table a{
    color:#f1c40f;
    text-decoration:none;
    font-weight:500;
}

table a:hover{
    color:white;
}


